body {background-color: #aed1e8}
.text {color: white;
       font: 20px 楷体;
       text-indent:30px;}
h1 {color: white;
    font-size:30px;}
h3 {color: white;
    font-size:25px;}
h4 {color: white;
    font-size:20px;}
#foot {padding: 60px;
       text-align: center;}
