body {
	background: -webkit-linear-gradient(left,rgb(235, 192, 192, 0.8),rgb(255, 250, 232, 0.8));
	background: -webkit-linear-gradient(left,rgb(235, 192, 192, 0.8),rgb(255, 250, 232, 0.8));
    }
p.titletext {
    color: white;	
    font: 35px 黑体;
    text-shadow: 5px 5px 5px #FF0000;
}
p.text {
    color: #4c5052;
    font: 18px Arial;
}
p.directyear {
    color: rgb(0, 0, 0);
    font: 25px 黑体;
}
p.directmonth {
    color: rgb(0, 0, 0);
    font: 15px 宋体;
}

#Toptext {
    color: #000000;
    font: 20px 仿宋;
}
#Top {
    border-radius: 0px 0px 0px 0px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 150px;
    background-color: rgba(138, 143, 69, 0.4);
    border-top: 4px solid #175c6d;
    border-right: 4px solid #175c6d;
    border-left: 4px solid #092f38;
    border-bottom: 4px solid #092f38;
    text-align: center;
}

div.centertext {
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    width: 60%;
    margin: auto;
    position:absolute;
    left:220px;
    top:150px;
    min-width: 700px;
}
div.table {
    border-radius: 25px;
    background-color: rgba(226, 237, 202, 0.8);
    width: 90%;
    margin: auto;
    box-shadow: 10px 10px 5px #888888;
    position:static;
}


img.fromimg{
    float: right;
    cursor: pointer;
    transition: all 0.4s;
}
img.fromimg:hover {
    transform: scale(3.5);
}


div.under {height: 20px;}

div.foot {
    position: absolute;
    bottom: -80px;
    left: 25%;
    text-align: center;
    margin: auto;
}

div.rightcontrol {
    border-radius: 0px 0px 0px 0px;
    position: absolute;
    right: -250px;
    top: 120px;
    background-color: rgba(101, 138, 194, 0.5);
    border: 2px solid #ad5a5a;
    width: 200px;
    height: 400px;
    text-align: center;
}

div.direct {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0px 25px 25px 0px;
    border: 1px solid #2b3c41;
    position: absolute;
    left: 0px;
    top: 180px;
    width: 150px;
    text-align: center;
}
div.directtext {
    cursor: pointer;
    border-radius: 15px 15px 0px 0px;
    border-top: 2px solid #fcb6b6;
    margin: auto;    
    text-align: center;
}

div.heartcontrol {
    border-radius: 15px 15px 40px 40px;
    position: absolute;
    right: 30px;
    top: -140px;
    border: 1px solid #b43f3f;
    text-align: center;
}
#heart {
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 90px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #eb5234;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

div.phototable{
    background-color: rgba(99, 22, 67, 0.2);
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #d1c413;
    position: absolute;
    top: -120px;
    right: -350px;
    width: 300px;
}
div.ourphoto{
    float: left;
    cursor: pointer;
    transition: all 1s;
}
div.ourphoto:hover {
    transform: scale(3);
}

div.sprit {
    position: absolute;
    bottom: -350px;
    width: inherit;
}
p.sprittext {
    color: #40456b;
    font: 16px Helvetica;
}