body {background-color: #aed1e8}

p.titletext {color: white;
            font: 35px 黑体;
            text-shadow: 5px 5px 5px #FF0000;}
p.text {color: #4c5052;
       font: 20px 楷体;}


div.centertext {border-radius: 30px;
                background-color: rgba(0,0,0,0.2);
                width: 60%;
                margin: auto;
                position:absolute;
                left:20%;
	            top:20px;}
div.table {border-radius: 25px;
        background-color: rgba(226, 237, 202, 0.4);
        width: 90%;
        margin: auto;
        box-shadow: 10px 10px 5px #888888;}
div.under {height: 20px;}
div.foot {width: 60%;
        position:absolute;
        left:20%;
        top:100%;}

div.rightcontrol {border-radius: 0px 15px 15px 0px;
                  position: relative;
                  left: -9px;
                  top: -80px;
                  background-color: rgba(101, 138, 194, 0.5);
                  border: 2px solid #ad5a5a;
                  width: 16%;
                  height: 600px;}



